node_modules
package-lock.json
*.svg

/Package.resolved

/.build
/.build.*
/.games
/Art/Pops/Icons/*.png
/Public/Fonts/*.otf
/Public/Fonts/*.woff2
/Public/rules.json
/Public/start.json

/Scripts/.build
/Scripts/.build.*
/Scripts/Package.resolved

/Tests/.build/
/Tests/.build.*

/Server/build/

/.vscode/launch.json
/*.code-workspace

/crash.*
