@use 'mixins/blur';

#clock {
    background-color: rgba(25, 25, 25, 0.45);
    --blur-filter: blur(10px) saturate(180%);

    @include blur.background;

    width: 24rem;
    color: white;
    display: flex;
    align-items: center;

    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0 0 0.5rem 0;

    #flag {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;

        margin-right: 1em;
    }

    &[data-ticks='1'] {
        --symbol: '⏯';
        --spacing: -0.1em;
    }
    &[data-ticks='2'] {
        --symbol: '⏭';
        --spacing: -0.1em;
    }
    &[data-ticks='3'] {
        --symbol: '⏵⏵⏵';
    }
    &[data-ticks='4'] {
        --symbol: '⏵⏵';
    }
    &[data-ticks='5'] {
        --symbol: '⏵';
    }
    &.paused {
        --symbol: '⏸';
        --spacing: -0.1em;

        color: #aaaaaa;
    }

    time {
        // This is dynamically updated on almost every frame, so if we do not disable pointer
        // events, mouse clicks will get swallowed on Safari
        pointer-events: none;
    }

    button {
        all: unset;
        cursor: pointer;
    }

    button:first-of-type {
        height: 1.5rem;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        color: inherit;

        &:hover {
            color: white;
        }

        &::after {
            font-size: 1rem;
            padding: 0 1em 0 0;
            content: var(--symbol);
            letter-spacing: var(--spacing, -0.3em);
        }
    }

    button:not(:first-of-type) {
        width: 2rem;
        display: flex;
        justify-content: center;
        color: #aaaaaa;

        &:hover {
            color: white;
        }
    }

    #slower::before {
        content: '–'
    }
    #faster::before {
        content: '+'
    }
}
