@use 'mixins/blur';

// Special hacks needed to make the backdrop-filter work on the menu.
#context-menu[data-display='hidden'],
#context-menu ul[data-display='hidden'] {
    pointer-events: none;

    &::before,
    > * {
        opacity: 0;
        transition: opacity var(--transition-length) ease-out;
    }
}
#context-menu[data-display='floating'],
#context-menu ul[data-display='floating'] {
    &::before,
    > * {
        opacity: 1;
        transition: opacity var(--transition-length) ease-in;
    }
}

#context-menu {
    position: fixed;
    z-index: 10000;

    ul.has-submenu-left {
        > li {
            padding-left: 2rem;
        }
    }
    ul.has-submenu-right {
        > li {
            padding-right: 2rem;
        }
    }
    ul {
        position: absolute;

        list-style: none;
        padding: 0.5rem 0;
        margin: 0;
        border-radius: 0.25rem;
        min-width: 180px;

        --transition-length: 0.25s;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1; // Places the background behind the <li> content.

            border-radius: 0.25rem;

            --bg: rgba(0, 0, 0, 0.15);
            background-color: var(--bg);

            --blur-filter: blur(20px) saturate(200%) brightness(0.5);
            @include blur.background;

            box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.8);
            border: 1px solid rgba(255, 255, 255, 0.15);
        }


        > li {
            position: relative;
            cursor: pointer;

            padding: 0.35rem 1rem;
            display: flex;
            align-content: center;

            &:hover {
                background-color: rgba(255, 35, 156, 0.212);
            }

            &.disabled {
                color: #ffffff80;
                cursor: not-allowed;

                &:hover {
                    background-color: transparent;
                }
            }
        }

        > li[data-submenu] {
            z-index: 1;
        }

        > li[data-submenu]::after {
            position: absolute;
            color: #ffffff80;
        }
        > li[data-submenu='right']::after {
            content: '▶';
            right: 0;
            margin-right: 0.5rem;
        }
        > li[data-submenu='left']::after {
            content: '◀';
            left: 0;
            margin-left: 0.5rem;
        }
    }
}
