[data-subscreen] {
    div.hstack {
        display: flex;

        > ul.terms {
            flex-grow: 1;
            margin-left: 1rem;
        }
    }

    div.pie-charts {
        display: flex;
        gap: 0.5rem;

        > figure {
            margin: 0.5rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            > figcaption {
                font-weight: bold;
            }
        }
    }
}

[data-subscreen='Region'] {
    height: 100%;
    margin: 1rem 0;
    display: flex;
    gap: 1rem;

    > * {
        min-width: 0;
    }

    > div.line-chart {
        flex-basis: 50%;
        height: 100%;
    }
    > div.stats {
        flex-grow: 1;
    }
}

[data-subscreen='Market'] {
    > ul.terms {
        justify-content: flex-start;
        flex-direction: row;

        margin: 1rem 0;

        > li {
            flex-basis: 10rem;
        }
        > li:last-child {
            flex-grow: 1;
        }
    }
}

[data-subscreen='Inventory'] {
    position: relative;

    display: flex;
    flex-direction: column;

    > div.inventory {
        display: flex;
        flex-direction: row;

        > div.consumption {
            flex: 1 0 65%;

            display: flex;
            flex-direction: column;

            div.tiers {
                margin-bottom: 0.5rem;
                display: flex;
                gap: 0.3em;

                > * {
                    flex: 1 1 0;
                    font-style: italic;

                    a {
                        display: block;
                        padding: 0.25em;
                        text-align: center;
                    }

                    --progress-bar-opacity: 0.15;
                    --border-opacity: 30%;

                    border-bottom:
                        2px solid rgb(from var(--color-fg) r g b / var(--border-opacity));
                }

                > [data-tier='l'] {
                    --progress-bar-bg: var(--color-bg-l);
                    --color-fg: var(--color-fg-l);
                }
                > [data-tier='e'] {
                    --progress-bar-bg: var(--color-bg-e);
                    --color-fg: var(--color-fg-e);
                }
                > [data-tier='x'] {
                    --progress-bar-bg: var(--color-bg-x);
                    --color-fg: var(--color-fg-x);
                }

                > *:hover {
                    --progress-bar-opacity: 0.2;
                    --border-opacity: 50%;
                }

                > *.selected {
                    // font-style: normal;
                    font-weight: bold;
                    --border-opacity: 100%;
                    --progress-bar-opacity: 0.3;
                }
            }

            [data-table='Needs'] {
                padding: 0;

                flex: 1 1 auto;
                grid-template-columns: 1.46fr 1fr 1fr 1.2fr;

                > [data-tier='l'] {
                    --color: var(--color-fg-l);
                }
                > [data-tier='e'] {
                    --color: var(--color-fg-e);
                }
                > [data-tier='x'] {
                    --color: var(--color-fg-x);
                }

                > * {
                    > *:nth-child(2) {
                        border-left: 3px solid var(--color);
                        padding-left: 0.5rem;
                    }
                    // > *:nth-child(4) {
                    //     direction: rtl;
                    //     margin-right: 0.5rem;
                    // }
                }
            }
        }

        > div.sales {
            flex: 0 1 35%;

            display: flex;
            flex-direction: column;

            margin: 0.5rem 0.75rem 0 1rem;
            gap: 1rem;

            overflow-y: scroll;

            > * {
                > div.subtitle {
                    color: rgba(255, 255, 255, 0.6);
                    margin: 0.15rem 0 0 0;
                    font-style: italic;
                }
                > div.icon {
                    font-size: 1.8rem;
                    float: left;
                    margin: 0 0.75rem 0 0;
                }
                > header {
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;

                    font-size: 1.15rem;
                    text-overflow: ellipsis;

                }
                > div.tickers {
                    display: flex;
                    justify-content: space-between;

                    > .units-sold {
                        clear: left;
                        &::after {
                            content: ' sold';
                        }
                    }
                }
            }
        }
    }
    > div.inventory-charts {
        position: absolute;
        bottom: 0;
        width: 100%;

        display: flex;
        flex-direction: row;
        // align-items: center;
        // align-content: center;

        > div.pie-charts {
            margin-top: 0.2rem;

            display: flex;
            gap: 0.5rem;

            > figure {
                flex-direction: column-reverse;

                > figcaption {
                    margin-top: 0.25rem;
                }
            }
        }

        > ul.terms {
            // margin: 1rem 0 0 0;
            padding: 0 0 2rem 1.5rem;
            flex-grow: 1;

            justify-content: center;
        }
    }
}
