[data-cell='progress'] {
    > *:first-child {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
    > *:first-child::before {
        content: '';
        position: absolute;
        width: var(--progress);
        top: 0;
        height: 100%;

        background-color: var(--progress-bar-bg);
        opacity: var(--progress-bar-opacity);

        z-index: -1;
    }
}
[data-cell='progress'].bloody {
    --progress-bar-bg: rgb(255, 0, 0);
}

[data-table] {
    display: grid;
    align-content: start;
    overflow-y: scroll;

    padding-right: 0.6rem;

    > header {
        font-weight: bold;
    }
    > header.sortable {
        cursor: pointer;
        margin-bottom: 0.25rem;

        > * {
            padding-bottom: 0.2em;
            border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        }

        > *.selected {
            border-color: rgba(255, 255, 255, 0.5);
        }
    }

    > * {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
        column-gap: 0.5rem;
        padding: 2px 0;

        > * {
            height: 1.4rem;
            line-height: 1.5rem;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: '...';
        }

        > *.bloody {
            background-color: rgba(255, 0, 0, 0.15);
        }
    }
    > a:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
    > a.selected {
        background-color: rgba(255, 255, 255, 0.1);
    }

    > *:hover,
    > *.selected {
        --progress-bar-opacity: 0.2;

        > [data-cell='progress'] {
            background-color: rgba(0, 0, 0, 0.2);
        }
        > [data-cell='progress'].bloody {
            background-color: rgba(255, 0, 0, 0.2);
        }
    }
}

[data-table='Buildings'] {
    grid-template-columns: 2fr 1fr 0.5fr 0.5fr;
}
[data-table='Factories'] {
    grid-template-columns: 2fr 1fr 0.5fr 0.5fr 1fr 0.5fr;
}
[data-table='Factories'] > * > [data-cell='progress']:nth-child(1) {
    > div {
        display: flex;
        justify-content: space-between;

        > span {
            margin: 0 0.25em;
        }
    }
}

[data-table='Markets'] {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1.5fr;
}
