ul.terms {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;

    > li {
        min-height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        > span.label {
            flex: 0 0 2rem;
        }
        > span:last-child {
            flex: 1 1 auto;
        }

        &[data-term-id^='p'] {
            > span.label {
                margin: 0.2em 0 0.5em 0;
            }
        }
        &[data-term-id^='e'],
        &[data-term-id^='f'],
        &[data-term-id^='t'],
        &[data-term-id^='m'] {
            > span.label::before {
                content: var(--term-icon);
            }
        }
        &[data-term-id='eN'] {
            --term-icon: '🍰';
        }
        &[data-term-id='eP'] {
            --term-icon: '🌐';
        }
        &[data-term-id='eA'] {
            --term-icon: '🧲';
        }
        &[data-term-id='fA'] {
            --term-icon: '💡';
        }
        &[data-term-id='fV'] {
            --term-icon: '💡';

            span.label::before {
                // filter: grayscale(100%) brightness(50%);
                filter: grayscale(50%) hue-rotate(180deg) brightness(50%);
            }
        }
        &[data-term-id='fP'] {
            --term-icon: '🍒';
        }
        &[data-term-id='tD'] {
            --term-icon: '⛁';
        }

        &[data-term-id='mF'] {
            --term-icon: '🚦';
        }
        &[data-term-id='mL'] {
            --term-icon: '⏳';
        }
    }
}
