@font-face {
    font-family: 'Serif UI';
    font-style: normal;
    font-weight: 400;
    src: url('/majesty/Fonts/GaramondPremrPro-Capt.otf') format('opentype');
}
@font-face {
    font-family: 'Serif UI';
    font-style: italic;
    font-weight: 400;
    src: url('/majesty/Fonts/GaramondPremrPro-ItCapt.otf') format('opentype');
}
@font-face {
    font-family: 'Serif UI';
    font-style: normal;
    font-weight: 700;
    src: url('/majesty/Fonts/GaramondPremrPro-Bd.otf') format('opentype');
}
@font-face {
    font-family: 'Serif UI';
    font-style: italic;
    font-weight: 700;
    src: url('/majesty/Fonts/GaramondPremrPro-BdIt.otf') format('opentype');
}
