#hud {
    position: fixed;
    top: 0;

    display: flex;
    height: 100%;
    width: 100%;

    pointer-events: none;

    // Regular player controls
    > div:first-child {
        position: relative;
        flex-grow: 1;

        // Make the panel, but not its children, transparent to mouse events
        pointer-events: none;
        > * {
            pointer-events: auto;
        }
    }

    // Developer tools panel
    > div:last-child {
        pointer-events: auto;

        position: relative;
        flex-grow: 0;
        width: 20rem;
    }

    #developer-tools-toggle {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
    }
}
#hud #tabs {
    color: white;
    width: 100%;
    display: flex;
}
#hud #tabs {
    > a {
        width: 10rem;
        padding: 1rem;

        --bg: rgba(25, 25, 25, 0.5);
        --blur-filter: blur(10px) saturate(180%);

        background-color: var(--bg);
        backdrop-filter: var(--blur-filter);
        -webkit-backdrop-filter: var(--blur-filter);

        cursor: pointer;
    }
    > a:hover,
    > a:focus {
        background-color: rgba(45, 45, 45, 0.5);
    }
    > a:active {
        background-color: rgba(65, 65, 65, 0.5);
    }
    > a:last-child {
        border-radius: 0 0 0.5rem 0;
    }
}
