#hud {
    position: fixed;
    top: 0;

    display: flex;
    height: 100%;
    width: 100%;

    pointer-events: none;

    // Regular player controls
    > div:first-child {
        position: relative;
        flex-grow: 1;

        // Make the panel, but not its children, transparent to mouse events
        pointer-events: none;
        > * {
            pointer-events: auto;
        }
    }

    // Developer tools panel
    > div:last-child {
        pointer-events: auto;

        position: relative;
        flex-grow: 0;
        width: 20rem;
    }

    #developer-tools-toggle {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
    }
}
