[data-subscreen] {
    div.hstack {
        display: flex;

        > div.pie-charts {
            display: flex;
            gap: 0.5rem;

            > figure {
                margin: 0.5rem;

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;

                > figcaption {
                    font-weight: bold;
                }
            }
        }

        > dl {
            margin: 0;
            padding-left: 1rem;

            display: grid;
            grid-template-columns: auto 1fr;

            > * {
                margin: 0.5rem;
            }

            > dd {
                font-weight: bold;
            }
        }
    }
}

[data-subscreen='Inventory'] {
    display: flex;
    flex-direction: row;

    div.hstack {
        > div.pie-charts {
            margin-top: 1rem;

            > figure {
                flex-direction: column-reverse;

                > figcaption {
                    margin-top: 0.5rem;
                }
            }
        }
    }

    > div.consumption {
        flex: 0 1 50%;

        display: flex;
        flex-direction: column;

        div.tiers {
            margin-bottom: 0.5rem;
            display: flex;
            gap: 0.3em;

            > * {
                flex: 1 1 0;
                font-style: italic;

                a {
                    display: block;
                    padding: 0.25em;
                    text-align: center;
                }

                --progress-bar-opacity: 0.15;
                --border-opacity: 30%;

                border-bottom:
                    2px solid rgb(from var(--color-fg) r g b / var(--border-opacity));
            }

            > [data-tier='l'] {
                --progress-bar-bg: var(--color-bg-l);
                --color-fg: var(--color-fg-l);
            }
            > [data-tier='e'] {
                --progress-bar-bg: var(--color-bg-e);
                --color-fg: var(--color-fg-e);
            }
            > [data-tier='x'] {
                --progress-bar-bg: var(--color-bg-x);
                --color-fg: var(--color-fg-x);
            }

            > *:hover {
                --progress-bar-opacity: 0.2;
                --border-opacity: 50%;
            }

            > *.selected {
                // font-style: normal;
                font-weight: bold;
                --border-opacity: 100%;
                --progress-bar-opacity: 0.3;
            }
        }

        [data-table='Needs'] {
            flex: 1 1 auto;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            > [data-tier='l'] {
                --color: var(--color-fg-l);
            }
            > [data-tier='e'] {
                --color: var(--color-fg-e);
            }
            > [data-tier='x'] {
                --color: var(--color-fg-x);
            }

            > * > *:nth-child(2) {
                border-left: 3px solid var(--color);
                padding-left: 0.5rem;
            }
        }
    }

    > div.sales {
        flex: 0 1 20%;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        margin-left: 1rem;
        margin-top: 0.25rem;

        > * {
            > *:nth-child(1) {
                font-size: 2rem;
                float: left;
                margin: 0 1rem 1rem 0;
            }
            > *:nth-child(2) {
                font-size: 1.25rem;
            }
            > *:nth-child(3)::after {
                content: ' sold today';
            }

            > div.proceeds {
                clear: left;
                display: flex;
                align-items: baseline;

                > *:last-child::before {
                    content: 'at';
                    color: rgba(255, 255, 255, 0.5);
                    margin: 0 0.5em;
                }

                &::before {
                    content: '💵';
                    margin-right: 0.6em;
                }
            }
        }
    }
}
