[data-table] {
    display: grid;
    align-content: start;
    overflow-y: scroll;

    > header {
        font-weight: bold;
    }
    > header.sortable {
        cursor: pointer;
        margin-bottom: 0.25rem;

        > * {
            padding-bottom: 0.2em;
            border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        }

        > *.selected {
            border-color: rgba(255, 255, 255, 0.5);
        }
    }

    > * {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
        column-gap: 0.5rem;
        padding: 2px 0;

        > * {
            height: 1.4rem;
            line-height: 1.5rem;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: '...';
        }
    }
    > a:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
    > a.selected {
        background-color: rgba(255, 255, 255, 0.1);
    }
}


[data-table='Factories'] {
    grid-template-columns: 2fr 1fr 0.5fr 0.5fr 1fr 1fr 1fr;
    height: 50%;
}
[data-table='Factories'] > * > [data-cell='progress']:nth-child(1) {
    > div {
        display: flex;
        justify-content: space-between;

        > span {
            margin: 0 0.25em;
        }
    }
}
[data-table='Pops'] {
    grid-template-columns: 2fr 0.4fr 1fr 1.5fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr 0.1fr;
    height: 50%;
}

[data-table='Pops'] > * > [data-cell='progress'].needs-cup > *:first-child::before {
    opacity: 0.25;
}
[data-table='Pops'] > *:hover    > [data-cell='progress'].needs-cup,
[data-table='Pops'] > *.selected > [data-cell='progress'].needs-cup {
    background-color: transparent;
}
[data-table='Pops'] > *:hover    > [data-cell='progress'].needs-cup > *:first-child::before,
[data-table='Pops'] > *.selected > [data-cell='progress'].needs-cup > *:first-child::before {
    opacity: 0.5;
}

[data-table='Pops'] > * > [data-cell='progress']:nth-last-child(3) > *:first-child::before {
    background-color: rgb(0, 153, 255);
}
[data-table='Pops'] > * > [data-cell='progress']:nth-last-child(2) > *:first-child::before {
    background-color: rgb(255, 145, 0);
}
[data-table='Pops'] > * > [data-cell='progress']:nth-last-child(1) > *:first-child::before {
    background-color: rgb(255, 0, 106);
}

[data-table='Markets'] {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    height: 50%;
}


[data-table] > * > *.bloody {
    background-color: rgba(255, 0, 0, 0.15);
}
[data-table] > * > [data-cell='progress'] {
    > *:first-child {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
    > *:first-child::before {
        content: '';
        position: absolute;
        width: var(--progress);
        top: 0;
        height: 100%;

        background-color: white;
        opacity: 0.1;

        z-index: -1;
    }

    &.bloody > *:first-child::before {
        background-color: rgb(255, 0, 0);
    }
}

[data-table] > *:hover,
[data-table] > *.selected {
    > [data-cell='progress'] {
        background-color: rgba(0, 0, 0, 0.2);

        &.bloody {
            background-color: rgba(255, 0, 0, 0.2);
        }

        > *:first-child::before {
            opacity: 0.2;
        }
    }
}
