@use 'celestial-view';
@use 'candlesticks';
@use 'clock';
@use 'conditions';
@use 'devtools';
@use 'factors';
@use 'fonts';
@use 'hud';
@use 'menu';
@use 'minimap';
@use 'pops';
@use 'screen';
@use 'sprites';
@use 'subscreen';
@use 'tabs';
@use 'tooltip';

div.pie-chart {
    --pie-diameter: 6rem;

    position: relative;
    display: block;

    height: var(--pie-diameter);
    width: var(--pie-diameter);
}
div.pie-chart::before {
    position: absolute;
    display: block;

    content: '';

    height: var(--pie-diameter);
    width: var(--pie-diameter);

    font-size: calc(var(--pie-diameter) / 10);

    transition: box-shadow .1s ease-out;
    pointer-events: none;
    border-radius: 50%;
    box-shadow:
        inset 0 -0.5em 0.75em -0.75em rgba(255, 255, 255, 0.2),
        inset 0 -0.4em 0.5px 0.1em rgba(0 , 0, 0, 0.34),
        inset 0 -1.3em 5em 0.1em rgba(0 , 0, 0, 0.15);
}
div.pie-chart:hover::before {
    box-shadow:
        inset 0 -0.5em 1.5em -0.75em rgba(255, 255, 255, 0.1),
        inset 0 -0.4em 0.5px 0.1em rgba(0, 0, 0, 0.18),
        inset 0 -1.3em 5em 0.1em rgba(0, 0, 0, 0.05)
}
div.pie-chart.empty::before {
    background-color: rgb(26, 26, 26);
}


[data-count] > span:nth-child(2)::before {
    content: '/';
}
[data-count='bonus'] > [data-sign='zero'] {
    color: var(--color-pos-text);
}
[data-count='malus'] > [data-sign='zero'],
[data-count='malus'] > [data-sign='pos'],
[data-count='bonus'] > [data-sign='pos'] {
    color: var(--color-neg-text);
}


[data-ticker] [data-sign]::before {
    margin: 0 0.25em 0 0.25em;
}

[data-ticker] [data-sign='zero'],
[data-ticker] [data-sign='zero'] {
    display: none;
    color: rgba(255, 255, 255, 0.5);
}

[data-ticker='bonus'] [data-sign='pos'],
[data-ticker='malus'] [data-sign='neg'] {
    color: var(--color-pos-text);
}
[data-ticker='bonus'] [data-sign='neg'],
[data-ticker='malus'] [data-sign='pos'] {
    color: var(--color-neg-text);
}

[data-ticker] [data-sign='pos']::before {
    content: '\00a0▴';
}
[data-ticker] [data-sign='neg']::before {
    content: '\00a0▾';
}



a {
    text-decoration: none;
    color: inherit;
}


[data-table] {
    display: grid;
    align-content: start;
    overflow-y: scroll;
}
[data-table] > * {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    column-gap: 0.5rem;
    padding: 2px 0.5rem;
}
[data-table] > * > * {
    height: 1.4rem;
    line-height: 1.5rem;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: '...';
}
[data-table] > header:first-child {
    font-weight: bold;
}

[data-table] > a:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
[data-table] > a.selected {
    background-color: rgba(255, 255, 255, 0.1);
}

[data-table='Factories'] {
    grid-template-columns: 2fr 1fr 0.5fr 0.5fr 1fr 1fr 1fr;
    height: 50%;
}
[data-table='Factories'] > * > [data-cell='progress']:nth-child(1) {
    > div {
        display: flex;
        justify-content: space-between;

        > span {
            margin: 0 0.25em;
        }
    }
}
[data-table='Pops'] {
    grid-template-columns: 2fr 0.4fr 1fr 1.5fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr 0.1fr;
    height: 50%;
}

[data-table='Pops'] > * > [data-cell='progress'].needs-cup > *:first-child::before {
    opacity: 0.25;
}
[data-table='Pops'] > *:hover    > [data-cell='progress'].needs-cup,
[data-table='Pops'] > *.selected > [data-cell='progress'].needs-cup {
    background-color: transparent;
}
[data-table='Pops'] > *:hover    > [data-cell='progress'].needs-cup > *:first-child::before,
[data-table='Pops'] > *.selected > [data-cell='progress'].needs-cup > *:first-child::before {
    opacity: 0.5;
}

[data-table='Pops'] > * > [data-cell='progress']:nth-last-child(3) > *:first-child::before {
    background-color: rgb(0, 153, 255);
}
[data-table='Pops'] > * > [data-cell='progress']:nth-last-child(2) > *:first-child::before {
    background-color: rgb(255, 145, 0);
}
[data-table='Pops'] > * > [data-cell='progress']:nth-last-child(1) > *:first-child::before {
    background-color: rgb(255, 0, 106);
}

[data-table='Markets'] {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    height: 50%;
}


[data-table] > * > *.bloody {
    background-color: rgba(255, 0, 0, 0.15);
}
[data-table] > * > [data-cell='progress'] {
    > *:first-child {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
    > *:first-child::before {
        content: '';
        position: absolute;
        width: var(--progress);
        top: 0;
        height: 100%;

        background-color: white;
        opacity: 0.1;

        z-index: -1;
    }

    &.bloody > *:first-child::before {
        background-color: rgb(255, 0, 0);
    }
}

[data-table] > *:hover,
[data-table] > *.selected {
    > [data-cell='progress'] {
        background-color: rgba(0, 0, 0, 0.2);

        &.bloody {
            background-color: rgba(255, 0, 0, 0.2);
        }

        > *:first-child::before {
            opacity: 0.2;
        }
    }
}

body {
    background-color: #000000;
    color: white;

    --color-pos-fill: #20d08d;
    --color-pos-text: #26e99e;
    --color-neg-fill: #f52b4d;
    --color-neg-text: #ff3d5d;
    --color-neu-fill: #dbc491;
    --color-neu-text: #ffe3a8;

    --color-em-text: #ffd781;

    /* This is needed for the left-border on table header cells */
    --color: transparent;

    overflow: hidden;

    -webkit-font-smoothing: antialiased;

    font-family: 'Serif UI', 'Times New Roman';
}

body > canvas {
    position: absolute;
}

body > main {
    display: flex;

    > div {
        flex-grow: 1;
    }
}
