ul.factors {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
        display: flex;

        > *.label {
            text-wrap: nowrap;

            &::after {
                content: ':';
                margin-right: 0.5em;
            }
        }

        > span {
            display: inline-block;
        }
    }

    > li.indent-none > span {
        font-weight: bold;
    }
}
