[data-table='Pops'] {
    grid-template-columns: 1.5fr 0.4fr 1.5fr 1.4fr 1fr 1fr 0.5fr 0.5fr 0.5fr;


    > header > *:last-child {
        grid-column-start: -4;
        grid-column-end: -1;
    }

    > a {
        --margin-vertical: 4px;

        padding-top: 0;
        padding-bottom: 0;

        > *:nth-child(1) {
            text-align: right;
            direction: rtl;
        }

        > * {
            margin-top: var(--margin-vertical);
            margin-bottom: var(--margin-vertical);
            text-align: left;
        }

        > [data-pop-type] {
            // Needed for sprite display
            height: 30px;
            margin: 0;
        }
        > *:nth-child(3) {
            display: flex;
            // Needed for gender icon, same as above
            height: 30px;
            max-height: 30px;
            margin: 0;

            > :first-child {
                flex-grow: 1;
                border-left: 3px solid var(--color);

                margin-top: var(--margin-vertical);
                margin-bottom: var(--margin-vertical);
                padding-left: 0.5em;
            }
            > :last-child {
                margin-right: 0.25em;

                ::before,
                ::after {
                    content: '';
                }
                ::before {
                    content: '';
                }
            }
        }

        > div.needs-cups {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: -4 / -1;

            > * {
                --progress-bar-opacity: 0.25;
            }

            > *:nth-child(1) {
                --progress-bar-bg: var(--color-bg-l);
            }
            > *:nth-child(2) {
                --progress-bar-bg: var(--color-bg-e);
            }
            > *:nth-child(3) {
                --progress-bar-bg: var(--color-bg-x);
            }
        }
    }
    > a:hover,
    > a.selected {
        > *.needs-cups {
            > * {
                background-color: transparent;
                --progress-bar-opacity: 0.5;
            }
        }
    }
}
