@use 'mixins/blur';

#screen {
    display: none;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 68rem;
    height: 48rem;

    color: white;

    h2 {
        margin-left: 1em;
    }
}

#screen[data-screen] {
    display: block;

    --screen-content-border-radius: 1rem;

    article {
        width: 100%;
        height: 100%;

        border-radius: var(--screen-content-border-radius);

        --bg: rgba(25, 25, 25, 0.5);
        --blur-filter: blur(30px) saturate(180%);

        @include blur.background;

        background-color: var(--bg);

        > div.tabs {
            min-width: 10rem;
            height: 100%;
            float: left;
            padding: 0 0 0 var(--screen-content-border-radius);

            ul {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
                list-style: none;

                > li a {
                    display: block;
                    padding: 0.25rem 0.5rem;
                }
                > li.selected a,
                > li a:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }

    article[data-screen-layout='planet'] {
        display: flex;
        justify-content: center;

        div.panel {
            flex: 1 1 auto;

            display: flex;
            flex-direction: column;

            h3 {
                font-size: 1.1rem;
                font-weight: normal;
                margin: 0;
            }

            > heading {
                margin: 1rem 0 0.5rem 0;
            }

            > heading,
            > h3 {
                display: flex;
                justify-content: space-around;
            }

            > div.hex-grid {
                width: 32rem;
                margin-left: auto;
                margin-right: auto;

                svg {
                    g.cells {
                        pointer-events: none;
                    }
                    g.lines {
                        path {
                            fill: transparent;

                            &:hover {
                                stroke: red;
                                stroke-width: 0.06px;
                            }
                        }
                    }
                }
            }
        }
    }

    article[data-screen-layout='explorer'] {
        // Panel
        > div.panel {
            padding-left: 0.5rem;

            height: 100%;
            display: flex;
            flex-direction: column;

            // Panel upper half
            > div.upper {
                flex: 1 0 57%;

                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                // Header
                > header {
                    // for consistency with pop headers
                    min-height: 56px;

                    display: flex;
                    position: relative;
                    align-items: center;
                    // border-bottom: 2px solid rgba(255, 255, 255, 0.7);
                    margin: 0 0 0.25rem 0;

                    [data-pop-type] {
                        background-image: none;
                        > span {
                            margin-left: 0.25em;
                            height: 56px;
                        }

                        &::before {
                            position: absolute;
                            content: '';

                            width: 8rem;
                            height: 100%;
                            background-image: linear-gradient(
                                to right in oklab,
                                rgba(var(--pop-stratum-color), 0.5),
                                rgba(var(--pop-stratum-color), 0.4) 6.25%,
                                rgba(var(--pop-stratum-color), 0.3) 12.5%,
                                rgba(var(--pop-stratum-color), 0.2) 25%,
                                rgba(var(--pop-stratum-color), 0.1) 50%,
                                transparent
                            );

                            z-index: -1;
                        }
                    }

                    h3 {
                        flex-grow: 1;

                        margin: 0 0 0 0.75em;
                        font-weight: normal;
                        font-size: 24px;
                    }
                    // Tabs
                    nav {
                        flex-grow: 1;
                        align-self: flex-end;

                        padding-right: 1rem;
                        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
                        border-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2)) 1;

                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        gap: 0.5rem;

                        > a {
                            padding: 0.5rem;
                            border-radius: 0.25rem 0.25rem 0 0 ;
                        }
                        > a.selected,
                        > a:hover {
                            background-color: rgba(255, 255, 255, 0.1);
                        }
                    }
                }

                > div.stats {
                    flex: 1 1 auto;
                }
            }

            > div[data-table] {
                flex: 0 1 43%;
            }
        }
    }
}

#screen[data-screen='Population'] {
    div.filters {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;

        ul {
            display: flex;
            gap: 0.5em;

            list-style: none;
            padding: 0;
            margin: 0;

            > li {
                [data-gender-icon] {
                    min-width: 30px;
                    height: 45px;

                    &::before,
                    &::after {
                        content: '';

                        background-image: linear-gradient(
                            135deg in hsl,
                            var(--accent-a),
                            var(--accent-b),
                        );
                    }

                    &::before {
                        display: none;
                        border-radius: 0.1rem;
                    }
                    &::after {
                        mask-size: cover;
                        mask-repeat: no-repeat;
                        mask-position: center;
                        mask-image: var(--gender-glyph);
                        mask-position: 2px 0px;
                    }
                }
                [data-gender-icon='SF'] {
                    --accent-a: rgb(255, 72, 157);
                    --accent-b: rgb(188, 88, 255);
                }
                [data-gender-icon='SX'] {
                    --accent-a: rgb(255, 102, 0);
                    --accent-b: rgb(255, 208, 0);
                }
                [data-gender-icon='SM'] {
                    --accent-a: rgb(0, 255, 255);
                    --accent-b: rgb(0, 119, 255);

                    &::after {
                        // mars sign looks better with smaller offset
                        mask-position: 1px 0px;
                    }
                }
            }
            > li:hover:not(.selected) {
                [data-gender-icon] {
                    &::before {
                        height: 2px;
                        top: auto;
                        bottom: 0;
                    }
                }
            }
            > li.selected {
                [data-gender-icon] {
                    &::after {
                        background-color: white;
                        background-image: none;
                    }
                }
            }
            > li:hover,
            > li.selected {
                [data-gender-icon] {
                    &::before {
                        display: block;
                    }
                }
            }
        }
    }
}
#screen[data-screen='Planet'] {
    height: 40rem;
}

#screen-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: inherit;
}
#screen-close::before {
    content: '✕';
}
