@use 'sass:map';
@use 'generated/_sprite-list';
@use 'generated/_sprite-url';

@mixin sprite($name) {
    $icon: map.get(sprite-list.$sprites, $name);

    @if $icon {
        background-repeat: no-repeat;
        $x: map.get($icon, 'x');
        $y: map.get($icon, 'y');

        background-position:
            calc(#{$x} + var(--sprite-offset-x, 0px))
            calc(#{$y} + var(--sprite-offset-y, 0px));
    } @else {
        @warn "Sprite `#{$name}` not found in $sprites map.";
    }
}

[data-pop-type='A'] {
    --pop-stratum-color-rgba: rgb(255, 109, 51);
    --pop-stratum-color: 255, 109, 51;
}
[data-pop-type='E'],
[data-pop-type='S'],
[data-pop-type='M'],
[data-pop-type='C'],
[data-pop-type='D'] {
    --pop-stratum-color-rgba: rgb(255, 51, 51);
    --pop-stratum-color: 255, 51, 51;
}
[data-pop-type='G'],
[data-pop-type='F'],
[data-pop-type='I'] {
    --pop-stratum-color-rgba: rgb(255, 217, 112);
    --pop-stratum-color: 255, 217, 112;
}
[data-pop-type='O'],
[data-pop-type='P'] {
    --pop-stratum-color-rgba: rgb(106, 65, 255);
    --pop-stratum-color: 106, 65, 255;
}

[data-term-id='pA']::before,
[data-pop-type='A'] > span {
    @include sprite(handmaid);
}
[data-term-id='pS']::before,
[data-pop-type='S'] > span {
    @include sprite(maid);
}
[data-term-id='pG']::before,
[data-pop-type='G'] > span {
    @include sprite(doctor);
}
[data-term-id='pD']::before,
[data-pop-type='D'] > span {
    @include sprite(driver);
}
[data-term-id='pC']::before,
[data-pop-type='C'] > span {
    @include sprite(contractor);
}
[data-term-id='pE']::before,
[data-pop-type='E'] > span {
    @include sprite(editor);
}
[data-term-id='pF']::before,
[data-pop-type='F'] > span {
    @include sprite(farmer);
}
[data-term-id='pI']::before,
[data-pop-type='I'] > span {
    @include sprite(influencer);
}
[data-term-id='pM']::before,
[data-pop-type='M'] > span {
    @include sprite(astronaut);
}
[data-term-id='pO']::before,
[data-pop-type='O'] > span {
    @include sprite(businesswoman);
}
[data-term-id='pP']::before,
[data-pop-type='P'] > span {
    @include sprite(spokeswoman);
}

[data-term-id^='p']::before {
    content: '';
}
[data-term-id^='p']::before,
[data-pop-type] > span {
    display: block;
    height: 30px;
    width: 30px;

    background-image: url(sprite-url.$spritesheet-url);
    --sprite-offset-x: -13px;
}

// slight visual adjustment
[data-term-id^='p'] {
    position: relative;
    top: -2px;
}
[data-term-id^='p'],
[data-pop-type] {
    display: block;
    width: 30px;
    background: radial-gradient(
        rgba(211, 223, 255, 0.5),
        transparent 75%,
    );
}
