div.line-graph {
    position: relative;
    height: 325px;

    direction: rtl;

    border-radius: 4px;

    --y-offset: 0%;
    --height: calc((100% - var(--y-offset)) / (var(--y-max) - var(--y-min)));
    --ticks-gutter: 6rem;

    > div {
        bottom: 0;
        right: 0;
    }
    > ul.line-graph-markers {
        background-color: rgba(0, 0, 0, 0.1);

        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-gutter: auto;

        height: 100%;
        display: flex;
        padding: 0;
        margin: 0;
        margin-right: var(--ticks-gutter);


        > div {
            flex-shrink: 0;

            position: relative;
            height: 100%;
            width: 5px;

            &:hover::before {
                display: inline-block;
                position: absolute;
                content: '';
                height: 100%;
                border-left: 1px dashed rgba(255, 255, 255, 0.2);
                left: 2px;
            }

            > div {
                position: absolute;
                margin: 0;
                height: 0;
                width: 5px;

                bottom: calc(var(--y-offset) + var(--height) * (var(--y) - var(--y-min)));

                display: flex;
                justify-content: center;
                align-items: center;

                &::before {
                    display: block;
                    content: '';
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;

                    background-color: rgb(117, 117, 117);
                }

            }
        }
    }
}

div.tradingview {
    position: relative;
    height: 325px;
    width: 100%;

    direction: rtl;

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    --y-offset: 25%;
    --height: calc((100% - var(--y-offset)) / (var(--y-max) - var(--y-min)));
    --heightv: calc(var(--y-offset) / var(--y-maxv));

    --ticks-gutter: 4rem;

    > div {
        bottom: 0;
        right: 0;
    }

    > div.candles {
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-gutter: auto;

        display: flex;
        height: 100%;
        margin-right: calc(0.25rem + var(--ticks-gutter));

        > div {
            flex-shrink: 0;

            position: relative;
            height: 100%;
            width: 5px;

            &:hover::before {
                display: inline-block;
                position: absolute;
                content: '';
                height: 100%;
                border-left: 1px dashed rgba(255, 255, 255, 0.2);
                left: 2px;
            }

            &[data-change='pos'] > div {
                background-color: var(--color-pos-fill)
            }
            &[data-change='neg'] > div {
                background-color: var(--color-neg-fill);
            }
            &[data-change='zero'] > div {
                background-color: var(--color-neu-fill);
            }

            div:nth-child(1) {
                position: absolute;
                margin: 0 1px;
                width: 3px;
                background-color: rgb(61, 61, 61);
                bottom: 0;
                height: calc(var(--heightv) * var(--v));
            }

            &:hover div:nth-child(1) {
                background-color: rgb(117, 117, 117);
            }

            div:nth-child(2) {
                position: absolute;
                margin: 0 1px;
                width: 3px;
                bottom: calc(var(--y-offset) + var(--height) * (min(var(--c), var(--o)) - var(--y-min)));
                height: calc(max(1px, var(--height) * (abs(var(--c) - var(--o)))));
            }
            div:nth-child(3) {
                position: absolute;
                margin: 0 2px;
                width: 1px;
                bottom: calc(var(--y-offset) + var(--height) * (var(--l) - var(--y-min)));
                height: calc(max(1px, var(--height) * (var(--h) - var(--l))));
            }
        }
    }
}

div.ticks {
    pointer-events: none;

    position: absolute;
    height: 100%;
    width: 100%;

    > div {
        position: absolute;
        height: 0;
        width: 100%;

        --bottom: calc(var(--y-offset) + var(--height) * (var(--y) - var(--y-min)));

        bottom: var(--bottom);
        right: 0;

        display: flex;
        align-items: center;

        &::after {
            flex: 1 1 auto;
            content: '';
        }

        > div {
            width: var(--ticks-gutter);
            padding: 0.2em 0.3em 0 0;
            box-sizing: border-box;
        }
    }

    > div[data-id='0'] {

        &[data-style='ins'] {
            --bg: var(--color-pos-fill);
            --fg: black;
        }
        &[data-style='del'] {
            --bg: var(--color-neg-fill);
            --fg: white;
        }

        --bg: rgb(117, 117, 117);
        --fg: white;

        > div {
            position: relative;

            background-color: var(--bg);
            color: var(--fg);

            clip-path: polygon(0% 50%, 0.5em 0%, 100% 0%, 100% 100%, 0.5em 100%);
        }
        &::after {
            border-bottom: 1px dashed var(--bg);
        }
    }

    > div:not([data-id='0']) {
        &::after {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
}
