@use 'celestial-view';
@use 'candlesticks';
@use 'clock';
@use 'conditions';
@use 'devtools';
@use 'factors';
@use 'fonts';
@use 'hud';
@use 'menu';
@use 'minimap';
@use 'pie-chart';
@use 'pops';
@use 'screen';
@use 'sprites';
@use 'subscreen';
@use 'tables';
@use 'tabs';
@use 'terms';
@use 'tooltip';

[data-count] > span:nth-child(2)::before {
    content: '/';
}
[data-count='bonus'] > [data-sign='zero'] {
    color: var(--color-pos-text);
}
[data-count='malus'] > [data-sign='zero'],
[data-count='malus'] > [data-sign='pos'],
[data-count='bonus'] > [data-sign='pos'] {
    color: var(--color-neg-text);
}


[data-ticker] [data-sign] {
    position: relative;
    display: inline-block;
}

[data-ticker] [data-sign='zero'],
[data-ticker] [data-sign='zero'] {
    display: none;
    color: rgba(255, 255, 255, 0.5);
}

[data-ticker='bonus'] [data-sign='pos'],
[data-ticker='malus'] [data-sign='neg'] {
    color: var(--color-pos-text);
}
[data-ticker='bonus'] [data-sign='neg'],
[data-ticker='malus'] [data-sign='pos'] {
    color: var(--color-neg-text);
}

[data-ticker] [data-sign='pos'],
[data-ticker] [data-sign='neg'] {
    padding-inline-start: 1.25em;
    &::before {
        position: absolute;
        inset-inline-start: 0;
        margin-inline-start: 0.25em;
        bottom: 0;
    }
}
[data-ticker] [data-sign='pos']::before {
    content: '\00a0▴';
}
[data-ticker] [data-sign='neg']::before {
    content: '\00a0▾';
}



a {
    text-decoration: none;
    color: inherit;
}


body {
    user-select: none;

    background-color: #000000;
    color: white;

    --color-pos-fill: #20d08d;
    --color-pos-text: #26e99e;
    --color-neg-fill: #f52b4d;
    --color-neg-text: #ff3d5d;
    --color-neu-fill: #dbc491;
    --color-neu-text: #ffe3a8;

    --color-em-text: #ffd781;

    --color-bg-l: rgb(0, 153, 255);
    --color-fg-l: rgb(58, 145, 204);

    --color-bg-e: rgb(255, 145, 0);
    --color-fg-e: rgb(255, 145, 0);

    --color-bg-x: rgb(255, 0, 106);
    --color-fg-x: rgb(214, 0, 89);

    --progress-bar-bg: white;
    --progress-bar-opacity: 0.1;

    --color-bg-ft:rgb(183, 0, 255);
    --color-fg-ft:rgb(255, 72, 173);

    --color-bg-fc:rgb(162, 0, 255);
    --color-fg-fc:rgb(188, 88, 255);

    --color-x:rgb(255, 174, 0);
    --color-xt:rgb(255, 226, 97);
    --color-xc:rgb(255, 255, 255);

    --color-bg-mt:rgb(0, 140, 255);
    --color-fg-mt:rgb(65, 255, 255);

    --color-bg-mc:rgb(0, 102, 255);
    --color-fg-mc:rgb(59, 137, 255);

    /* This is needed for the left-border on table header cells */
    --color: transparent;

    overflow: hidden;

    -webkit-font-smoothing: antialiased;

    font-family: 'Serif UI', 'Times New Roman';
}

body > canvas {
    position: absolute;
}

body > main {
    display: flex;

    > div {
        flex-grow: 1;
    }
}
